{% extends 'base/base.html' %}

{% block main %}
<section>
    <div class="container pt-5">
        <div class="text-center mt-5">
            <h1>Мои заказы</h1>
            <div class="orders mt-5">
                {% if object_list %}
                <table class="table">
                    <thead>
                    <tr class="table-light">
                        <th scope="col">Маршрут</th>
                        <th scope="col">Время отправления</th>
                        <th scope="col">Место посадки</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for order in object_list %}
                    <tr class="table-exp">
                        <th scope="row">{{ order.route.get_route_display }}</th>
                        <td>{{ order.route.departure_datetime }}</td>
                        <td>{{ order.landing_site }}</td>
                        <td>
                            {% if order.route.is_overdue_route %}
                            <p>Отменить</p>
                            {% else %}
                            <a href="{% url 'order:cancel_order' order.id %}">Отменить</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>У вас нет заказов</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
